html, body {
  touch-action: none; /* Disable pinch-to-zoom and panning */
  overflow: hidden; /* Prevent scroll */
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* cursor: grab; */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  width: 100%;
  height: 100%;
}